{% extends "base/base.html"%}

{% block titulo %} Login {% endblock %}

{% block content %}
<br>
<br>
<br>

<div class="card mx-auto"  style="width: 18rem; height: 18rem;">
    <div class="container">
        <form action="/" method="POST">
            <div class="mb-6">
                <div class="container"> <h2>Login</h2></div>
                
                <label class="form-label">Email </label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-6">
                <label  class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="contrasena">
            </div>
            <div class="alert alert-danger" role="alert">{{ms}} ..</div>
            <br>
            <div class="container text">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}